%h1.text-center $支店名$ $店舗名$

.row.mt-5.pb-5
  .col-6
    %h2.h3 不動産の売却はあんず不動産にお任せください
    %div.text-muted あんず不動産赤坂支店にお任せください！東京都の不動産売却の実績多数です。
  
  .col-1
  
  .col-4.d-flex.justify-content-end
    %img.border.border-5.img-fluid{ alt: "ロゴ画像", src: "" }/

.row.mt-5.pb-5
  .col.text-center
    .w-75.h-75.border.border-5.d-flex.align-items-center.justify-content-center
      グラフ
    %p.w-75.d-flex.justify-content-center
      売却スコア

  .col
    .mb-4 あんず不動産について
    %ul.list-unstyled
      %li 企業名：あんず不動産
      %li 郵便番号：000-0000
      %li 住所：東京都港区六本木1丁目
      %li 電話番号：03-0000-0000
      %li FAX：03-0000-0000
      %li 営業時間：9:00 - 18:00
      %li 定休日：水曜日、GW

.row.mt-5
  %div あんず不動産で売却したひとの不動産会社についての口コミ（平均評価★3.5）
  
  .card.w-75.mb-3
    .card-body
      .card-title スムーズな取引ができました：★5
      .card-text.mt-2 ほとんど担当者の方がやってくださりとても楽でした。何かあるときは必ず電話で確認をとってくれてとても信用できました。迅速な対応がとても良かったです。
      .mt-3.text-body-tertiary.d-flex.justify-content-end 成約価格 1,500万円（千葉県市川市・2019年2月に売却）

  .card.w-75.mb-3
    .card-body
      .card-title スムーズな取引ができました：★5
      .card-text.mt-2 ほとんど担当者の方がやってくださりとても楽でした。何かあるときは必ず電話で確認をとってくれてとても信用できました。迅速な対応がとても良かったです。
      .mt-3.text-body-tertiary.d-flex.justify-content-end 成約価格 1,500万円（千葉県市川市・2019年2月に売却）

  .card.w-75.mb-3
    .card-body
      .card-title スムーズな取引ができました：★5
      .card-text.mt-2 ほとんど担当者の方がやってくださりとても楽でした。何かあるときは必ず電話で確認をとってくれてとても信用できました。迅速な対応がとても良かったです。
      .mt-3.text-body-tertiary.d-flex.justify-content-end 成約価格 1,500万円（千葉県市川市・2019年2月に売却）

  .card.w-75.mb-3
    .card-body
      .card-title スムーズな取引ができました：★5
      .card-text.mt-2 ほとんど担当者の方がやってくださりとても楽でした。何かあるときは必ず電話で確認をとってくれてとても信用できました。迅速な対応がとても良かったです。
      .mt-3.text-body-tertiary.d-flex.justify-content-end 成約価格 1,500万円（千葉県市川市・2019年2月に売却）

.row
  %button.text-center.w-auto.pt-1.pr-5.pb-1.pl-5{type: "submit"}
    査定依頼をする