- content_for(:breadcrumbs) do
  = render 'application/breadcrumbs', args: { city: @branch.city, branch: @branch }
- content_for :title, 'お問い合わせありがとうございました'
- content_for(:noindex, true)

%h1.text-center
  お問い合わせありがとうございました
%p
  査定依頼ありがとうございます。
  %br
  不動産会社からのご連絡をお待ちください。
