/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS (and SCSS, if configured) file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 */

@import "bootstrap";

// ==================================
//   branches#show
// ==================================
.branch-wrapper {
  padding-bottom: 10em;

  @media screen and (min-width: 520px) {
    width: 75%;
    margin: 0 auto;  
  }

    
  .graphics {
    .canvas-wrapper {
      height: 80%;

      .score-point {
        // transform: translate(-40%, 25%);
        transform: translate(-25%, 20%);
        font-size: 2rem;
        font-weight: bold;
        color: rgba(68, 221, 221, 0.9);
      }
    }
    .star {
      color: #eadf6e;
      font-size: 1.7em;
    }
  }
  .branch-info {
    margin-top: 5rem;
  }
  
  .btn {
    padding: 1em 3em;
    color: #ffffff;
    background: #3182CE;
    transition: 0.2s;
  }
}

a.link-card {
  text-decoration: none;
  color: inherit;
}

.btn.btn-blue {
  padding: 1em 3em;
  color: #ffffff;
  background: #3182CE;
  transition: 0.2s;

  &:hover {
    background: #205d96;
  }
}

.truncate-text-at-line-3 {
  display: -webkit-box;
  -webkit-box-orient: vertical;
  -webkit-line-clamp: 3;
  overflow: hidden;
}
