/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS (and SCSS, if configured) file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 */

@import "bootstrap";

a {
  text-decoration: none;
  color: #ffffff;
}


// ==================================
//   branches#show
// ==================================
.branch-wrapper {
  padding-bottom: 10em;

  @media screen and (min-width: 520px) {
    width: 75%;
    margin: 0 auto;  
  }
  
  .btn {
    padding: 1em 3em;
    color: #ffffff;
    background: #3182CE;
    transition: 0.2s;

    &:hover {
      background: #205d96;
    }
  }
  
  .graphics {
    .canvas-wrapper {
      height: 80%;
    }
    .star {
      color: #eadf6e;
      font-size: 1.7em;
    }
  }
  .branch-info {
    margin-top: 5rem;
  }
}
